@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition: all .25s;
    border: none;
}

button {
    outline: none;
    border: none;
}

:root {
    --color-pri: #a20a0a;
    --color-seg: #d65722;
    --sombra: rgb(46, 15, 14);
    --letra: #f2dada;
    --letra-seg: #bb9944;
    --fondo: #3d261c;
}

/* reuzables */
.seccion__subtitulo {
    color: var(--color-seg);
    margin-bottom: -.8rem;
}

.seccion__titulo {
    font-size: 2rem;
    color: var(--color-pri);
}

img {
    height: 100%;
}

/* Menu  */
.cabezera {
    display: flex;
    justify-content: center;
}

.contenido {

    position: fixed;
    bottom: 1rem;
    margin: auto;
    z-index: 1000;
}

.nav__menu {
    display: flex;
    background: linear-gradient(180deg, var(--color-pri)0%, var(--sombra)100%);
    justify-content: space-around;
    padding: 0 .6rem;
    align-items: center;
    color: var(--letra);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.logo {
    display: flex;
}

.logo img {
    height: 1.6rem;
}

.despliegue {
    cursor: pointer;
}

.icon.rotacion {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.icon {
    font-size: 1.6rem;
    color: var(--letra);
    transition: transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
}

.nav__lista {
    display: flex;
    justify-content: space-around;
    width: 15rem;
    transition: width 0.3s;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
}

.nav__lista.activo {
    width: 0;
    overflow: hidden;
    transition: width 0.3s;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
}

.nav__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    font-size: .8rem;
}

.nav__item i,
.dark {
    font-size: 1.5rem;
    cursor: pointer;
}

/* Inicio */

.inicio {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url(/img/plantacionCafe.png);
    background-size: cover;
    background-position: top;
    display: flex;
}

.inicio__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 2rem;

}

.inicio__datos {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-top: 1rem;
    gap: 2rem;
}

.titulo {
    font-size: 2.2rem;
    color: var(--color-pri);
    line-height: 120%;
}

.descripcion {
    text-align: justify;
    color: var(--fondo);
    font-weight: bold;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.inicio__valor {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.inicio_valor_titulo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-pri);
}

.inicio_valor_dato {
    color: var(--fondo);
}

.inicio__img {
    padding-top: 2rem;
    width: 90%;
    display: flex;
    justify-content: center;
    position: relative;
}

.img__adorno {
    background: url(/img/IMG_9305.jpg);
    background-size: cover;
    width: 15rem;
    height: 15rem;
    align-self: flex-end;
    border-radius: 15% 15% 5% 5%;
    -webkit-border-radius: 15% 15% 5% 5%;
    -moz-border-radius: 15% 15% 5% 5%;
    -ms-border-radius: 15% 15% 5% 5%;
    -o-border-radius: 15% 15% 5% 5%;
}

.img__imagen {
    position: absolute;
    height: 19rem;
    bottom: -1rem;
}

.productos__contenedor {
    padding-top: 2rem;
    width: 90%;
    margin: auto;
}

.cartilla {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
}

.producto__card {
    width: 90%;
    background-color: var(--color-pri);
    border-radius: 1rem;
    margin: 0 auto;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

}

.producto__img {
    width: 100%;
    padding: 1.5rem;
}

.producto__dato {
    display: flex;
    flex-direction: column;
    padding: 0 .5rem 0.5rem;
    text-align: center;
    color: var(--letra);
}

.comprar {
    color: var(--letra);
    display: flex;
    align-items: center;
    margin: 1rem auto;
    padding: .8rem;
    gap: .5rem;
    background-color: var(--fondo);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}



.nosotros__contenido,
.contacto__contenedor {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding-top: 2rem;
    gap: 2rem;
}

.nosotros__img,
.contacto__imagen {
    display: flex;
    justify-content: center;
    position: relative;
}

.nosotros__adorno,
.contacto__adorno {
    width: 18rem;
    height: 23rem;
    background-color: var(--letra);
    border-radius: 15% 15% 5% 5%;
    -webkit-border-radius: 15% 15% 5% 5%;
    -moz-border-radius: 15% 15% 5% 5%;
    -ms-border-radius: 15% 15% 5% 5%;
    -o-border-radius: 15% 15% 5% 5%;
}

.nosotros__foto,
.contacto__img {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 17rem;
    height: 22rem;
    overflow: hidden;
    border-radius: 15% 15% 5% 5%;
    -webkit-border-radius: 15% 15% 5% 5%;
    -moz-border-radius: 15% 15% 5% 5%;
    -ms-border-radius: 15% 15% 5% 5%;
    -o-border-radius: 15% 15% 5% 5%;
    box-shadow: 0 16px 32px var(--sombra);
    inset: 0;
    margin: auto;
}

.nosotros__acordeon {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
}

.nosotros__acordeon-item {
    border: 2px solid var(--color-pri);
    border-radius: .5rem;
    padding: 1rem 0.75rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.nosotros__acordeon-encabezado {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    color: var(--color-pri);
}

.nosotros__acordeon-contenido {
    overflow: hidden;
    height: 0;

}

.nosotros__acordeon-descripcion {
    padding-top: 1rem;
    text-align: justify;
}

/* abrir los items */

.abrir-acordeon {
    box-shadow: 0 4px 15px var(--sombra);
}

.abrir-acordeon .nosotros__acordeon-encabezado {
    border-bottom: 1px solid var(--color-pri);
    box-shadow: 0 2px 4px var(--sombra);
    padding: 0.5rem;
}

.abrir-acordeon .nosotros__acordeon-flecha i,
.abrir-acordeon .nosotros__acordeon-icon {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

.contacto__card {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 1rem;
    width: 80%;
}

.contacto__card-box {
    border: 2px solid var(--color-pri);
    border-radius: 0.5rem;
    padding: 1.25rem .75rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.contacto__card-info {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .75rem;
    margin: auto;
    text-align: center;
}

.contacto__card-info i {
    padding: .25rem;
    font-size: 2rem;
    color: var(--color-pri);
}

.contacto__boton {
    font-size: 1rem;
    padding: .75rem;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    color: var(--letra);
    background-color: var(--color-pri);

}

.pie_de_pagina {
    padding-bottom: 5rem;
}

.footer__contenido {
    width: 90%;
    display: flex;
    padding-top: 2rem;
    flex-wrap: wrap;
    gap: 2rem;
    margin: auto;
}

.footer__descripcion {
    text-align: justify;
    font-size: 0.75em;
    color: var(--letra-seg);
}

.footer__contenido-interno {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.footer__titulo {
    color: var(--color-pri);
}

.footer__link,
.footer__social-link {
    color: var(--letra-seg);
}

.footer__social {
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}

.footer__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin: auto;
    padding-top: 2rem;
}

.footer__privacidad a,
.footer__copy {
    font-size: 0.75rem;
    color: var(--sombra);
}

/* tema oscuro */

.temaOscuro .inicio {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(46, 15, 14, 1)), url(/img/plantacionCafe.png);
    background-position: top;
    background-size: cover;
}

.temaOscuro .productos,
.temaOscuro .nosotros,
.temaOscuro .contacto,
.temaOscuro .pie_de_pagina {
    background-color: var(--sombra);
}

.temaOscuro .descripcion,
.temaOscuro .inicio_valor_dato,
.temaOscuro .seccion__subtitulo,
.temaOscuro .footer__privacidad a,
.temaOscuro .footer__copy,
.temaOscuro .seccion__descripcion,
.temaOscuro .contacto__card-descripcion {
    color: var(--letra);
}

.temaOscuro .seccion__titulo {
    color: var(--letra-seg);
}

.temaOscuro .producto__card {
    background-color: var(--fondo);
}

.temaOscuro .comprar,
.temaOscuro .nosotros__adorno,
.temaOscuro .contacto__adorno {
    background-color: var(--letra-seg);
    color: var(--color-pri);
}

.temaOscuro .abrir-acordeon {
    box-shadow: 0 4px 15px var(--letra-seg);
}

.temaOscuro .nosotros__acordeon-item,
.temaOscuro .contacto__card-box {
    border: 2px solid var(--letra-seg);
}

.temaOscuro .nosotros__acordeon-encabezado,
.temaOscuro .contacto__card-titulo {
    color: var(--letra-seg);
}

.temaOscuro .abrir-acordeon .nosotros__acordeon-encabezado {

    border-bottom: 1px solid var(--letra-seg);
    box-shadow: 0 2px 4px var(--letra-seg);
}

.temaOscuro .nosotros__acordeon-descripcion {
    color: var(--letra);
}

/* responsivo a otros display */

@media screen and (min-width:767px) {

    /* REUZABLES */
    .seccion__subtitulo {
        color: var(--color-seg);
        margin-bottom: -.8rem;
    }

    .seccion__titulo {
        font-size: 2.2rem;
        color: var(--color-pri);
    }

    img {
        height: auto;
    }

    /* menu */
    .logo img {
        height: 2rem;
    }

    .nav__lista {
        width: 20rem;
    }

    .nav__item i,
    .dark {
        font-size: 2rem;
    }

    /* INICIO */
    .inicio__contenedor {
        flex-direction: row;
        width: 90%;
        height: 80vh;
    }

    .img__imagen img {
        height: 100%;
    }

    /* PRODUCTOS */
    .cartilla {
        flex-direction: row;
        margin-top: 1rem;
        gap: 2rem;
    }

    .producto__card {
        width: 90%;
    }

    .producto__img {
        padding: 1rem;
    }

    .nosotros,
    .contacto,
    .productos__contenedor {
        padding: 1.5rem 0;
    }

}

@media screen and (min-width:1024px) {

    /* reuzables */
    .titulo {
        font-size: 4rem;
    }

    .inicio_valor_titulo {
        font-size: 2.2rem;
    }

    .descripcion,
    .inicio_valor_dato {
        font-size: 1.3rem;
    }

    .img__adorno {
        width: 21rem;
        height: 21rem;
    }

    .img__imagen {
        height: 25rem;
    }

    .cartilla {
        gap: 4rem;
    }

    .producto__card {
        width: 20%;
        justify-content: center;
    }


    /* nosotros */
    .nosotros__contenido,
    .contacto__contenedor {
        flex-direction: row;
    }

    .nosotros__img,
    .contacto__imagen {
        width: 50%;
    }

    .nosotros__adorno,
    .contacto__adorno {
        position: absolute;
        display: flex;
        justify-content: center;
        margin: auto;
        inset: 0;
    }

    .nosotros__datos,
    .contacto__datos {
        width: 50%;
        margin: auto;
    }

    .contacto__card {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .contacto__card-box {
        width: 45%;
        padding: 1rem;
    }

    .contacto__card-info {
        flex-direction: column;
    }

    .footer__contenido {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .footer__info {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}